[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

krakenex = "*"
coinmarketcap = "*"
tabulate = "*"
blockchain = "*"
clint = "*"


[dev-packages]

ipython = "*"
pytest = "*"
mock = "*"
pytest-mock = "*"
pytest-cov = "*"
codecov = "*"
coveralls = "*"
requests-mock = "*"


[requires]

python_version = "3.6"
